# Byte‐compiled Python
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# DS_Store
.DS_Store

# pngs
*.png

# ignore certain folders
results/*/osort_mat
results/*/raw
convnwb/

# mat & m files
*.mat
*.nev
*.ns2
*.ns5
*.ns6
*.png
*.svg